.footer {
  background: #272727;
}

footer {
  color: rgba(#fff, 0.8);
  padding: 4rem 1.5rem;

  .footer__upper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: 900;
    color: rgba(#fff, 0.9);
    padding: 1rem 0;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(#fff, 0.8);
  }
  p {
    font-weight: 400;
    color: rgba(#fff, 0.5);
  }

  .quick-links {
    ul {
      list-style-type: none;
      padding: 0;

      li a {
        text-decoration: none;
        color: rgba(#fff, 0.5);
      }
    }
  }

  .copyrights {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    &__text {
      color: rgba(#fff, 0.8);
      font-weight: 700;
      font-size: 0.8rem;
      padding: 5rem 0 1rem 0;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .icons {
        color: rgba(#fff, 0.9);

        &:hover {
          color: rgba($primary-color, 0.9);
          @include transition-ease;
        }
      }
    }
  }
}
