@import "config";
@import "home";
@import "services";
@import "ourTeam";
@import "ourClient";
@import "footer";
@import "responsive";
@import "pricing";
@import "contact";
@import "portfolio";
@import "service";
@import "about";

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 22px;
  font-size: 15px;
}
img {
  width: 100%;
}

// scroll bar
.scroll-button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 999999999999;
  color: rgb(161, 158, 158);
  &:active {
    color: #103d5f;
  }
  &:hover {
    color: $primary-color;
    @include transition-ease;
  }
}
